.loading {
  padding-top: 100px;
}

h1,h2,h3 {
     font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
}

.promo-center {
    font-family: 'Ek Mukta', sans-serif;
   
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
   
}

ul.side-nav li {
  float: none;
}

p {
    font-family: 'Ek Mukta', sans-serif;
}

.parallax {
    background: #4759cb;
}

.parallax-containers {
    background:#004681;
    height: 40px;
}

.rale {
    font-family: 'Raleway', sans-serif;
}

/* */
.list-body {
  background-color: #f5f5f5;
 
  margin: 0 auto;
  padding: 0;
}

.listing {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  
  font-family: courier, monospace;
  border: 1px solid #dedede;
}
.listing li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.listing li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
 
  margin-left: 40px;
}
